.wrap {
    position: absolute;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    width: 100px;
}

.center {
    padding: 100px;
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
}

.video {
    position: absolute;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
