.wrap {
    position: absolute;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    width: 100px;
}

.center {
    padding: 50px;
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: 800px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}
.center > div {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    align-items: center;
    max-width: 800px;
    flex-direction: column;
    overflow: auto;
}

.video {
    /* position: absolute; */
    /* inset: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
