.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
    width: 100px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
}
