.image-gallery-thumbnails-container {
  transform: none !important;
}

.image-gallery-thumbnail {
  border: 3px solid transparent !important;
  outline: none !important;
}

.buttons {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  fill: white;
}

.buttons > div {
  margin: 20px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: border 0.3s ease-out;
  width: 50px;
  height: 50px;
}

.buttons > div.active,
.image-gallery-thumbnail.active {
  outline: none !important;
  border: 3px solid #337ab7 !important;
}

.buttons > div > img {
  width: 100%;
}

.image-gallery,
.image-gallery-content,
.image-gallery-slide-wrapper {
  flex: 1;
  display: flex !important;
  overflow: hidden;
}

.image-gallery-swipe {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.image-gallery-image {
  max-height: calc(100vh - 50px) !important;
}

.image-gallery-thumbnails-wrapper {
  overflow: auto;
}

.image-gallery-thumbnails {
  height: auto !important;
  padding: 10px !important;
  box-sizing: border-box;
  overflow: auto !important;
}

.image-gallery-slides,
.youtubeContainer,
.image-gallery-slide {
  flex: 1;
  display: flex;
}

.youtubeContainerHight {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  align-self: center;
}

.youtubeContainerHight iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image-gallery-slide {
  height: 100% !important;
}

.bottom {
  flex-direction: column;
}

.bottom .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 10px !important;
}

.image-gallery-thumbnail {
  width: 130px !important;
  vertical-align: middle;
}

.right .thumbnails-swipe-vertical {
  width: 150px !important;
}

.right .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-top: 10px !important;
}
